* {
  margin: 0px;
  padding: 0px;
}

.color-black {
  background-color: #212e37;
}
.dark {
  background-color: #212e37;
  color: white;
}
.cart-area .color-black {
  background-color: #212e37;
}

.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
  border-bottom: 2px solid gray;
}
.btn-mode {
  border: none;
  background: none;
  font-size: 30px;
  cursor: pointer;
}
.dark .btn-mode {
  color: white;
}

body.color-black .btn-mode {
  color: white;
}
.main-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 5%;
}
.main-box-dark {
  background-color: #212e37;
}
.cart {
  width: 20%;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(189, 184, 184);
}
.cart-area {
  background-color: #212e37;
  color: white;
}
.photo {
  width: 100%;
  height: 250px;
  border-radius: 10px 10px 0px 0px;
}
.content-data {
  margin-left: 10%;
  margin-top: 10%;
}
.content-data p {
  margin-top: 5%;
}

.header-section {
  display: flex;
  justify-content: space-between;
  margin: 0px 5%;
  margin-top: 3%;
}

.header-section input {
  width: 35%;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(189, 184, 184);
  border: none;
  padding-left: 1%;
}
.header-section select {
  width: 15%;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(189, 184, 184);
  border: none;
  background: none;
  padding-left: 1%;
}

.search-dark select {
  color: black;
  background-color: white;
}
body.color-black select {
  background-color: white;
}
.text {
  background-color: coral;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin-top: 30%;
}

/* showcarbiger item */

.back-btn {
  padding: 10px 20px;
  background-color: darkblue;
  border-radius: 5px;
  margin-left: 13%;
  margin-top: 5%;
  color: white;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgb(189, 184, 184);
  font-size: 20px;
}

.bigger-data {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  gap: 5rem;
  font-size: 30px;
}
.bigger-data-cart {
  color: white;
}
/* imgae */
.img {
  width: 30%;
  box-shadow: 0px 0px 20px rgb(189, 184, 184);
}
.show-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.second-box {
  display: flex;
  gap: 20rem;
}

.inner-box1 span {
  font-size: 25px;
  color: grey;
  margin-left: 10px;
}
.inner-box2 span {
  font-size: 25px;
  color: grey;
  margin-left: 5%;

  font-family: Arial, Helvetica, sans-serif;
}

.dark .show-content {
  color: white;
}
.third-box {
  display: flex;
}
.border-area {
  display: flex;
  gap: 1rem;
  margin-left: 5%;
  text-decoration: none;
  width: 600px;
  flex-wrap: wrap;
}
.border-country {
  text-decoration: none;
  background-color: rgb(33, 33, 33);
  color: white;
  border: none;
  border-radius: 5px;
}
